In [1]:
import polars as pl
pl.__version__

'1.20.0'

In [2]:
df = pl.read_csv('yellow_tripdata_2021-01.csv.gz')
df.head(2)

shape: (2, 18)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ tolls_amo ┆ improveme ┆ total_amo ┆ congestio │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ nt_surcha ┆ unt       ┆ n_surchar │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ rge       ┆ ---       ┆ ge        │
│          ┆ ---       ┆ ---       ┆ i64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ ---       │
│          ┆ str       ┆ str       ┆           ┆   ┆           ┆ f64       ┆           ┆ f64       │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2021-01-0 ┆ 2021-01-0 ┆ 1         ┆ … ┆ 0.0       ┆ 0.3       ┆ 11.8      ┆ 2.5       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:30:10  ┆ 00:36:12  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2021-01-0 ┆ 2021-01-0 ┆ 1         ┆ … ┆ 0.0       ┆ 0.3       ┆ 4.3       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:51:20  ┆ 00:52:19  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [3]:
df = df.with_columns(pl.col("tpep_pickup_datetime", "tpep_dropoff_datetime").str.to_datetime("%Y-%m-%d %H:%M:%S"))
df.head(2)

shape: (2, 18)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ tolls_amo ┆ improveme ┆ total_amo ┆ congestio │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ nt_surcha ┆ unt       ┆ n_surchar │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ rge       ┆ ---       ┆ ge        │
│          ┆ ---       ┆ ---       ┆ i64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ ---       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ f64       ┆           ┆ f64       │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2021-01-0 ┆ 2021-01-0 ┆ 1         ┆ … ┆ 0.0       ┆ 0.3       ┆ 11.8      ┆ 2.5       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:30:10  ┆ 00:36:12  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2021-01-0 ┆ 2021-01-0 ┆ 1         ┆ … ┆ 0.0       ┆ 0.3       ┆ 4.3       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:51:20  ┆ 00:52:19  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [10]:
import sqlalchemy as sql
uri = "postgresql://root:root@localhost:5432/ny_taxi"

df.write_database(table_name="pl_yellow_taxi_2021_01",  connection=uri)

ValueError: Table 'pl_yellow_taxi_2021_01' already exists.

In [4]:
query = "SELECT * FROM yellow_taxi_2021_01 limit 20"
pl.read_database_uri(query=query, uri=uri)

NameError: name 'uri' is not defined

In [5]:
import pandas as pd
pd.__version__
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_2021_01'))

CREATE TABLE "yellow_taxi_2021_01" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [8]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
df = next(df_iter)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
len(df)
#convert it later to polars

100000

In [9]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [10]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 6.72 s
Wall time: 15 s

1000

In [11]:
from time import time

In [12]:
while True:
        t_start = time()
        df = next(df_iter)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        t_end = time()    
        print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 18.603 second
inserted another chunk..., took 13.934 second
inserted another chunk..., took 13.372 second
inserted another chunk..., took 13.288 second
inserted another chunk..., took 12.765 second
inserted another chunk..., took 13.383 second
inserted another chunk..., took 14.529 second
inserted another chunk..., took 14.024 second
inserted another chunk..., took 13.333 second
inserted another chunk..., took 13.214 second
inserted another chunk..., took 13.344 second

C:\Users\Skylake\AppData\Local\Temp\ipykernel_14292\977752379.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 15.975 second
inserted another chunk..., took 10.383 second

StopIteration:

In [27]:
#alternative to pgcli, list tables, change anyway you want
query = """
select *
from pg_catalog.pg_tables
where schemaname != 'pg_catalog' and
schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,pl_yellow_taxi_2021_01,root,None,False,False,False,False
1,public,yellow_taxi_data,root,None,True,False,False,False
2,public,yellow_taxi_2021_01,root,None,False,False,False,False

df-to_sql(name='yellow_tripdata_trip', con=engine, index=False)